
@media (max-width:1400px) {
    /* Header Section */

    .hero-main img{
        max-width: 100%;
        height: 80vh;
    }

    /* Loans Section */
    .loan-main{
        margin-top: 320px;
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 100%;
        padding: 0px 20px;
    }

    /* Hero Section */
    .hero-container {
        padding: 0px 50px;
    }

    .hero-main img {
        max-width: 100%;
        height: 90vh;
    }

    /* Loans Section */
    .loan-main {
        margin-top: 280px;
    }

    /* Service Section */
    .service-main p {
        max-width: 750px;
    }

    /* Process Section */
    .process-main p {
        max-width: 900px;
    }

    /* Logo Section */
    .logos img {
        padding: 0px 20px;
        height: 60px;
    }

    /* About Section */
    .about-main p {
        max-width: 950px;
    }

    /* Blog Section */
    .blog img {
        width: 300px;
    }

    .blog-text {
        padding: 32px;
    }

    /* Contact Section */
    .contact-main p {
        max-width: 900px;
    }

    /* Footer Section */
    .footer-about p {
        max-width: 450px;
    }

    .ft-contact p {
        max-width: 230px;
    }

    .footer-links {
        display: flex;
        flex: 2 1;
        gap: 20px;
    }
}

@media (max-width:992px) {}


@media (max-width:768px) {
    .container {
        padding: 0px 20px;
    }

    /* Navbar */
    .nav-left {
        display: none;
    }

    .mobile-btn {
        display: inline-block;
    }

    /* Hero Conatainer */
    .hero-container {
        max-width: 100%;
        padding: 0px 20px;
    }

    .hero-container h1 {
        display: flex;
        align-items: center;
    }

    .hero-main img {
        max-width: 100%;
        height: 75vh;
    }

    .hero-container strong {
        margin-left: 10px;
    }

    .hero-container p {
        max-width: 100%;
    }

    /* Loans Section */
    .loan-main {
        margin-top: 170px;
        flex-wrap: wrap;
    }

    .loan {
        padding: 20px 40px;
        width: 50%;
    }

    /* Service Section */
    .card:nth-child(3) {
        display: none;
    }

    /* Logo Section */
    .logos img {
        padding: 0px 15px;
        height: 45px;
    }

    /* Blog Section */
    .blogs {
        flex-wrap: wrap;
    }

    .blog img {
        margin: 10px;
        width: 340px;
    }

    .blog-text {
        margin: 10px;
        max-width: 340px;
        margin-top: -30px;
    }

    /* Contact Section */
    .contact-cards {
        flex-wrap: wrap;
    }

    .contact-card p {
        max-width: 280px;
        color: #6c757d;
    }

    .contact-card {
        /* width: 100%; */
        padding: 0px 40px 20px;
    }

    /* Footer Section */
    .newsletter img {
        margin: 0px 400px 20px 0px;
    }

    .footer-about {
        flex: 1 1 100%;
    }

    .ft-contact p {
        margin-right: 50px;
    }

    .ft-contact p {
        margin-top: 8px;
        padding: 0px;
        max-width: 100%;
    }

    .footer-about p {
        max-width: 100%;
    }

    .footer-links {
        gap: 150px;
    }

}

@media (max-width:576px) {}

@media (max-width:480px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 20px;
    }

    /* primary part */
    .primary-text {
        flex-wrap: wrap;
    }

    .primary-left {
        margin-bottom: 5px;
    }

    .primary-right a,
    .primary-right span {
        margin: 10px 10px 0px 0px;
    }

    /* NavBar */
    .nav-left {
        display: none;
    }

    .mobile-btn {
        display: inline-block;
    }

    /* Hero Section */
    .hero-container {
        max-width: 100%;
        padding: 50px 20px;
    }

    .hero-main img {
        max-width: 100%;
        height: 75vh;
    }

    .btn {
        z-index: 3;
    }

    h1 {
        font-size: 30px;
    }

    .hero-btn {
        margin-top: 20px;
    }

    .hero-container p {
        display: none;
    }

    /* Loans Section*/
    .loan-main {
        margin-top: 190px;
        flex-wrap: wrap;
        padding: 5px;
    }

    .loan {
        padding: 20px 0px;
        width: 50%;
    }

    /* Service Section */
    h2 {
        font-size: 26px;
    }

    .service-main p {
        padding: 10px;
        max-width: 100%;
    }

    .service-cards {
        flex-wrap: wrap;
    }

    .card:nth-child(2),
    .card:nth-child(3) {
        display: none;
    }

    .card p {
        padding: 10px 0px;
    }

    /* Process Section */
    .process-cards {
        flex-wrap: wrap;
    }

    .pro-btn {
        margin: 10px 0px;
    }

    /* About-Us Section*/
    .about-cards {
        flex-wrap: wrap;
    }

    .about-card p {
        max-width: 300px;
    }

    /* Testimonial Section */
    .testi-cards {
        flex-wrap: wrap;
    }

    /* Logo Section */
    .logos {
        flex-wrap: wrap;
    }

    /* Blog Section */
    .blogs {
        flex-wrap: wrap;
    }

    /* Contact Section */
    .contact-cards {
        flex-wrap: wrap;
    }

    .contact-card {
        width: 100%;
    }

    /* Footer Section */
    .newsletter h2 {
        margin: 20px 0px;
    }

    .newsletter input {
        padding: 10px;
        width: 300px;
        height: 50px;
    }

    .ft-contact {
        flex-wrap: wrap;
    }

    .ft-contact p {
        margin-top: 8px;
        padding: 0px;
        max-width: 100%;
    }

    .footer-links {
        flex-wrap: wrap;
        gap: 50px;
    }

}